.heyy{
  min-width: 80%;
  background-color: #fff;
  margin: 50px auto;
  padding: 40px 80px;
}
.heyy h2{
  font-family: cursive;
  text-align: center;
}
.imgg{
  min-width: 100%;
  height: 380px;
}

.heyy h4{
  color: rgb(165, 21, 21);
}