.bodyy{
  background-color:rgb(219, 185, 185);
}
.btn-home{
  background-color: #f7bebe;
  padding: 10px;
}
.heyy{
  background-color: #d7f9f2;
  padding: 50px;
  padding-bottom: 80px;
}

.neww{
  background-color: #d7e6f6;
  width: 80%;
  margin: 40px;
  padding: 50px 80px;
}